.main_info_div {
  display: flex;
  background-color: #1d1a18;
  align-items: flex-start;
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
  margin-top: 40px;
  flex-direction: column;
}

.info_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1a18;
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.info_left_div {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  padding-left: 100px;
}

.info_left_div h1 {
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 0;
}

.info_left_div h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.info_left_div p {
  font-size: 1.2rem;
}

.name {
  color: #d87c44;
}

.line {
  width: 41%;
  height: 5px;
  border-radius: 50px;
  background-color: #d87c44;
  margin-top: 100px;
  margin-bottom: 30px;
}

.brown_line {
  width: 20%;
}

.white_line {
  margin-top: 100px;
  margin-bottom: 0;
  height: 2px;
  background-color: #fff;
}

.info_left_div button {
  background-color: #d87c44;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  cursor: pointer;
  font-size: large;
}

.info_right_div {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.icons:hover {
  color: #d87c44;
}
