body::-webkit-scrollbar {
  display: none;
  margin: 0;
  padding: 0;
}

.main_app_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
